<%- include("header") -%>
    <h2>this is the about page </h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam neque eros, sollicitudin vel mollis ut, mollis
        eget turpis. Aliquam gravida turpis libero, sed accumsan mi commodo ut. Praesent scelerisque sapien leo, et
        bibendum sem luctus ac. Nam vitae porta orci. Etiam ut velit id sapien mollis commodo. Nunc lacus libero, ornare
        ac arcu ut, fermentum finibus felis. Cras risus diam, elementum at urna quis, pharetra dignissim dui. Nullam nec
        maximus ex. Etiam nisl nibh, egestas at magna a, pellentesque laoreet tortor. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Nulla cursus luctus nulla, id venenatis erat vehicula sed.

        Sed a lorem vitae nisl imperdiet gravida. Duis nulla sapien, mattis ut enim ut, tristique volutpat nibh. Aliquam
        eu est dictum, viverra velit et, suscipit tellus. Cras scelerisque ut purus a eleifend. Aliquam non libero
        commodo, ultrices justo in, elementum lacus. Nam a placerat elit. Vestibulum molestie vitae massa quis aliquet.
    </p>
    <%- include("footer") -%>